body {
  text-align: center;
  background-color: #9182c4;
  font-family: "Baloo", sans-serif;
}
* {
  font-family: "Baloo", sans-serif;
  text-align: center;
}

h1 {
  color: whitesmoke;
}

span {
  font-size: 30px;
}

input {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  width: 200px;
  font-size: 15px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-one,
.button-two {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: lightgreen;
  width: 225px;
  padding: 8px 16px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

.button-two {
  background-color: #facf5a;
}

.button-one:hover {
  border: 2px solid green;
}

.button-two:hover {
  border: 2px solid #996445;
}

.container {
  border: 10px solid #ebd9dd;
  height: 100vh;
}

#emoji-container {
  margin: 0 auto;
  width: 400px;
  border: 4px dotted whitesmoke;
}
.emoji-box {
  margin: 0 auto;
}
